@CHARSET "UTF-8";

/* 基本のスタイル */
h1 {
	font-size: 32px;
	margin: 0px;
	padding: 4px;
	color: #222288;
}

hr {
	margin-top: 8px;
	margin-bottom: 8px;
}

form {
	margin: 0px;
	padding: 0px;
}

/* ページ固有のスタイル */
/* ログインページ */
td.tdLabel {
	width: 150px;
	text-align: left;
	padding: 8px;
	color: #ffffff;
	background-color: #aaaaff;
	font-weight: bold;
}

td.login_field {
	padding: 8px;
}

td.login_button {
	text-align: center;
	padding: 8px;
}

/* リストページ */
table.toolbar {
	margin-top: 16px;
	margin-bottom: 32px;
}

table.list th {
	width: 150px;
	text-align: left;
	padding: 8px;
	color: #ffffff;
	background-color: #5555aa;
}

td.list {
	background-color: #bbbbff;
	padding: 8px;
}

/* 追加・編集・削除ページ */
th.add_field {
	width: 150px;
	text-align: left;
	padding: 8px;
	color: #ffffff;
	background-color: #aaaaff;
}

td.add_field {
	padding: 8px;
}

td.add_button {
	text-align: center;
	padding: 8px;
}